@use 'products';
@use 'cart';
@use 'payment';

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

#root {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.gnb {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        li {
            list-style: none;
        }
    }
}

